<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="contentLeft">
              <div class="row">
                  <div class="imgWrapper">
                    <img src="{{ url_for('static', filename='instruments.jpg') }}" alt="">
                      
                  </div>
                  <div class="imgWrapper">
                    <img src="{{ url_for('static', filename='singing.jpg') }}" alt="">
                    
                  </div>
                  <div class="imgWrapper">
                    <img src="{{ url_for('static', filename='musical nyt.jpg') }}" alt="Logo">
                      
                  </div>
                  <div class="imgWrapper">
                    <img src="{{ url_for('static', filename='comedyshow.jpg') }}" alt="Logo">
                       
                  </div>
              </div>
            </div>
            <div class="contentRight">
              <div class="content">
                <h4>Welcome To</h4>
                <h2>Event Ticket Booking</h2>
                <p>The Event Ticket Booking System is a comprehensive online platform designed to facilitate the booking of tickets for various events, including live concerts, musical nights, music bands, standup shows, and more. The system aims to provide a user-friendly interface for customers to browse and book tickets for their desired events, while also enabling event organizers to manage and track ticket sales efficiently.
                  </p>                
              </div>
            </div>
          </div>
    </body>
</html>