<!DOCTYPE html>
<html>
    <head>
        <title>gallery</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/media.css') }}">
    </head>
    <body>
        <div>
            <img src="{{ url_for('static', filename='raise sound.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='singing.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='drumbs.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='music.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='music on.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='stand up.jpg') }}" alt="">
            
        </div>
    </body>
</html>